.woocommerce-qr-peru-upload-wrapper {
	padding: 34px;
	border: 2px dotted;
	width: 205px;
}

.woocommerce-qr-peru-upload-wrapper span {
	font-size: 20px;
	text-align: center;
	width: 100%;
	margin-bottom: 15px;
	display: inline-block;
}

.wp-core-ui .woocommerce-qr-peru-upload-wrapper button.button-secondary {
	display: block;
	margin-top: 20px;
	margin: 0 auto;
}

.toplevel_page_woocommerce_qr_perú_license .wp-menu-image img {
	width: 20px;
	padding-top: 12px !important;
}

.qr-preview-area .preview_area {
	text-align: center;
    width: 220px;
}

.qr-preview-area .preview_area .upload_qr, .qr-preview-area .preview_icon_area .upload_icon {
	display: block;
    padding: 10px;
    width: 200px;
    border: 1px solid;
    margin-bottom: 10px;
}